body{
margin:0;
font-family:Arial;
background-color: antiquewhite;
}

html{
scroll-behavior:smooth;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:10px 40px;
position:fixed;
width:100%;
background:rgb(199, 192, 60);
box-shadow:0 2px 5px rgba(0,0,0,0.1);
z-index:10;
}

nav a{
margin-left:20px;
text-decoration:none;
color:black;
font-weight:bold;
}

section.home{
height:800px;
background-image:url("produk.png");
background-size:cover;
background-attachment:fixed;
display:flex;
justify-content:center;
align-items:center;
}

.kotakbiotek{
text-align:center;
background:#f1f080cc;
padding:20px;
border-radius:10px;
}

.namabiotek{
font-size:40px;
margin:0;
}

.deskbiotek{
margin:10px 0;
}

.kotakbiotek img{
width:200px;
}

section.project{
    padding:100px 20px;
    text-align:center;
}

.fotoProject{
    position:relative;
    width:400px;
    margin:auto;
}

.fotoProject img{
    width:100%;
    border-radius:10px;
}

.textProject{
    position:absolute;
    bottom:20px;
    left:20px;
    right:20px;
    color:white;
    background:rgba(255, 237, 137, 0.6);
    padding:10px;
    border-radius:5px;
}

section.howto{
    padding:100px 40px;
    text-align:center;
}

.dokumentasi img{
    width:300px;
    margin-top:20px;
}

section.profile{
    padding:100px 20px;
    display:flex;
    justify-content:center;
}

.cardProfile{
    width:250px;
    background:rgb(245, 206, 33);
    border-radius:10px;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
    overflow:hidden;
    text-align:center;
}

.imgProfile img{
width:100%;
}

.deskProfile{
padding:10px;
}

.medsos{
padding:10px;
}

.medsos a{
margin:0 10px;
color:rgb(255, 255, 255);
font-size:20px;
}
